/* Light Mode */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #000;
    margin: 0;
    padding: 0;
}

#chart-container {
    width: 90%;
    margin: auto;
    text-align: center;
}

#chart {
    height: 500px;
    margin-top: 20px;
}

/* Dark Mode */
body.dark-mode {
    background-color: #1e1e1e;
    color: #fff;
}

#chart-container.dark-mode {
    border-color: #fff;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

#theme-toggle {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

body.dark-mode #theme-toggle {
    background-color: #444;
    color: #fff;
}
